{% extends 'base.html'%}
{%load static%}
{%block main%}
{% include 'messages.html'%}
   <main>

      <!-- breadcrumb area start -->
      <div class="breadcrumb__area include-bg pt-200 pb-150 breadcrumb__overlay"
         data-background="static/assets/img/breadcrumb/breadcrumb-bg-3.jpg">
         <div class="container">
            <div class="row">
               <div class="col-xxl-12">
                  <div class="breadcrumb__content p-relative z-index-1">
                     <h3 class="breadcrumb__title">Sign In</h3>
                     <div class="breadcrumb__list">
                        <span><a href="#">Home</a></span>
                        <span class="dvdr"><i class="fa-regular fa-angle-right"></i></span>
                        <span>Sign-up</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- breadcrumb area end -->


         <!-- sign up area start -->
         <section class="signup__area po-rel-z1 pt-100 pb-145 p-relative fix">
            <div class="sign__shape">
               <img class="man-1" src=" {% static 'assets/img/icons/about-shapes.png' %} " alt="">
               <img class="man-2" src=" {% static 'assets/img/icons/book-shape.png' %} " alt="">
               <img class="circle" src=" {% static 'assets/img/icons/role-shape.png' %} " alt="">
               <img class="zigzag" src=" {% static 'assets/img/icons/ring-2.png' %} " alt="">
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-xxl-8 offset-xxl-2 col-xl-8 offset-xl-2">
                     <div class="tp-section__title-wrapper text-center mb-55">
                        <h2 class="tp-section__title">Create a free <br>  Account</h2>
                        <p>I'm a subhead that goes with a story.</p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                     <div class="sign__wrapper white-bg">
                        <div class="sign__header mb-35">
                           <div class="sign__in text-center">
                              <p> <span>........</span> Or, <a href=" {% static 'sign-up.html' %} ">sign up</a> with your email<span> ........</span> </p>
                           </div>
                        </div>
                        <div class="sign__form">
                           <form action="/signup" method="post" enctype="multipart/form-data">
                              {%csrf_token%}
                              <div class="sign__input-wrapper mb-25">
                                 <h5>Full Name</h5>
                                 <div class="sign__input">
                                    <input type="text" placeholder="Full name" name="name1">
                                    <i class="fal fa-user"></i>
                                 </div>
                              </div>
                              <div class="sign__input-wrapper mb-25">
                                 <h5>Work email</h5>
                                 <div class="sign__input">
                                    <input type="text" placeholder="e-mail address" name="email1"
                                           oninput="
                                    const email = this.value.trim();
                                    const isValidEmailFormat = /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);
                                    const containsGmail = email.includes('@gmail.com');
                                    if (!isValidEmailFormat || !containsGmail) {
                                        this.setCustomValidity('Please enter a valid Gmail address');
                                        this.reportValidity();
                                    } else {
                                        this.setCustomValidity('');
                                        this.reportValidity();
                                    }
                                ">
                                    <i class="fal fa-envelope"></i>
                                 </div>
                              </div>
                              <div class="sign__input-wrapper mb-25">
                                 <h5>Phone Number</h5>
                                 <div class="sign__input">
                                    <input type="tel" placeholder="Phone Number" name="phone1"
                                           oninput="
                                    const phoneNumber = this.value.trim();
                                    if (!/^[0-9]{10}$/.test(phoneNumber)) {
                                        this.setCustomValidity('Phone number must be 10 digits');
                                        this.reportValidity();
                                    } else {
                                        this.setCustomValidity('');
                                        this.reportValidity();
                                    }
                                ">
                                    <i class="fal fa-lock"></i>
                                 </div>
                              </div>
                              <div class="sign__input-wrapper mb-10">
                                 <h5>Password</h5>
                                 <div class="sign__input">
                                    <input type="password" placeholder="Password" name="password1"
                                           oninput="
                                    const password = this.value.trim();
                                    const hasLowerCase = /[a-z]/.test(password);
                                    const hasDigit = /\d/.test(password);
                                    if (password.length < 5) {
                                        this.setCustomValidity('Password must be at least 5 characters long');
                                        this.reportValidity();
                                    } else if (!hasLowerCase) {
                                        this.setCustomValidity('Password must contain at least one lowercase letter');
                                        this.reportValidity();
                                    } else if (!hasDigit) {
                                        this.setCustomValidity('Password must contain at least one digit');
                                        this.reportValidity();
                                    } else {
                                        this.setCustomValidity('');
                                        this.reportValidity();
                                    }
                                ">
                                    <i class="fal fa-lock"></i>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                    <label>User Type:</label>
                                    <div>
                                        <input type="radio" id="seller_checkbox" name="usertype" value="Tutor" onchange="toggleIdProofField()">
                                        <label for="seller_checkbox">Tutor</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="user_checkbox" name="usertype" value="Student">
                                        <label for="user_checkbox">Student</label>
                                    </div>
                               </div>
                               <div class="col-md-12" id="id_proof_container" style="display: none;">
                                    <label>ID Proof (Only for Tutor):</label>
                                    <input type="file" name="id_proof1" id="id_proof" accept="image/*">
                                </div>
                              <div class="sign__action d-flex justify-content-between mb-30">
                                 <div class="sign__agree d-flex align-items-center">
                                    <input class="m-check-input" type="checkbox" id="m-agree">
                                    <label class="m-check-label" for="m-agree">I agree to the <a href="#">Terms & Conditions</a>
                                       </label>
                                 </div>
                              </div>
                              <button class="e-btn w-100"> <span></span> Sign Up</button>
                              <div class="sign__new text-center mt-20">
                                 <p>Already have a Account ? <a href="/login"> Sign In</a></p>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- sign up area end -->


           <!-- sign up area start -->
      <div class="signup__area po-rel-z1 pt-100 pb-145 p-relative d-none">
         <div class="sign__shape">
            <img class="man-1" src=" {% static 'assets/img/icons/about-shapes.png' %} " alt="">
            <img class="man-2" src=" {% static 'assets/img/icons/book-shape.png' %} " alt="">
            <img class="circle" src=" {% static 'assets/img/icons/role-shape.png' %} " alt="">
            <img class="zigzag" src=" {% static 'assets/img/icons/lines-shape.png' %} " alt="">
         </div>
         <div class="container">
            <div class="row">
               <div class="col-xxl-8 offset-xxl-2 col-xl-8 offset-xl-2">
                  <div class="tp-section__title-wrapper text-center mb-55">
                     <h2 class="tp-section__title">Sign in to <br> recharge direct.</h2>
                     <p>it you don't have an account you can <a href="#">Register here!</a></p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                  <div class="sign__wrapper white-bg">
                     <div class="sign__header mb-35">
                        <div class="sign__in text-center">
                           <p> <span>........</span><a href=" {% static 'sign-in.html' %} ">sign in</a> with your email<span>
                                 ........</span> </p>
                        </div>
                     </div>
                     <div class="sign__form">
                        <form action="#">
                           <div class="sign__input-wrapper mb-25">
                              <h5>Work email</h5>
                              <div class="sign__input">
                                 <input type="text" placeholder="e-mail address">
                                 <i class="fal fa-envelope"></i>
                              </div>
                           </div>
                           <div class="sign__input-wrapper mb-10">
                              <h5>Password</h5>
                              <div class="sign__input">
                                 <input type="text" placeholder="Password">
                                 <i class="fal fa-lock"></i>
                              </div>
                           </div>
                           <div class="sign__action d-sm-flex justify-content-between mb-30">
                              <div class="sign__agree d-flex align-items-center">
                                 <input class="m-check-input" type="checkbox" id="m-agree">
                                 <label class="m-check-label" for="m-agree">Keep me signed in
                                 </label>
                              </div>
                              <div class="sign__forgot">
                                 <a href="#">Forgot your password?</a>
                              </div>
                           </div>
                           <button class="e-btn  w-100"> <span></span> Sign In</button>
                           <div class="sign__new text-center mt-20">
                              <p>New to Markit? <a href=" {% static 'sign-up.html' %} ">Sign Up</a></p>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- sign up area end -->

<script>
function toggleIdProofField() {
    const sellerCheckbox = document.getElementById('seller_checkbox');
    const idProofContainer = document.getElementById('id_proof_container');

    if (sellerCheckbox.checked) {
        idProofContainer.style.display = 'block';
        document.getElementById('id_proof').required = true;
    } else {
        idProofContainer.style.display = 'none';
        document.getElementById('id_proof').required = false;
    }
}
</script>
         
      </main>

{%endblock%}